body {
    background: #CCC;
}

#selections {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

button {
    font-size: 2em;
}

#selections button:hover {
    transform: scale(1.07, 1.07);
}

.result {
    display: flex;
    justify-content: center;
    text-align: center;
}

#rps {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.scoreBoard {
    display: flex;
    justify-content: center;
}

.startGame {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px
}

.finalScore {
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}

#firstFive {
    display: flex;
    justify-content: center;
    font-weight: bold;
}